# LIST

In [1]:
lst =["Ciano", 10, 173.54, [1,2,3,4,5], "King"]

In [2]:
lst

['Ciano', 10, 173.54, [1, 2, 3, 4, 5], 'King']

In [3]:
#1

lst.append("Fenandes")

In [4]:
lst

['Ciano', 10, 173.54, [1, 2, 3, 4, 5], 'King', 'Fenandes']

In [8]:
#2

lst.copy()

['Ciano', 10, 173.54, [1, 2, 3, 4, 5], 'King', 'Fenandes']

In [12]:
#3

lst.count("King")

1

In [21]:
lst.count([1, 2, 3, 4, 5])

1

In [30]:
#4

lst.extend("3")

In [32]:
lst

['Ciano', 10, 173.54, [1, 2, 3, 4, 5], 'King', 'Fenandes', '3', '1', '0', '3']

In [33]:
#5

lst.index(173.54)

2

In [36]:
#6

lst.insert(5,200)

In [37]:
lst

['Ciano',
 10,
 173.54,
 [1, 2, 3, 4, 5],
 'King',
 200,
 200,
 'Fenandes',
 '3',
 '1',
 '0',
 '3']

In [38]:
#question: i ran the progam of lst.insert twice. is that why 200 came twice?
# even for lst.extend, i changed the numbers, thinking it will change when i run, but it kept on extending,
#and also 10 became '1','0' . why?

In [41]:
#7

lst.remove("3")

In [42]:
lst

['Ciano',
 10,
 173.54,
 [1, 2, 3, 4, 5],
 'King',
 200,
 200,
 'Fenandes',
 '1',
 '0',
 '3']

In [43]:
#8

lst.clear()

In [44]:
lst

[]

# Dictionary

In [16]:
dit = {"name":"Ciano", "class":"tybsc" , "roll.no":"4", "college": "dhempe"}

In [17]:
dit

{'name': 'Ciano', 'class': 'tybsc', 'roll.no': '4', 'college': 'dhempe'}

In [7]:
#1

dit.keys()

dict_keys(['name', 'class', 'roll.no', 'college'])

In [10]:
#2

dit.fromkeys(dit)

{'name': None, 'class': None, 'roll.no': None, 'college': None}

In [11]:
dit.fromkeys(dit,21)

{'name': 21, 'class': 21, 'roll.no': 21, 'college': 21}

In [18]:
#3

dit.items()

dict_items([('name', 'Ciano'), ('class', 'tybsc'), ('roll.no', '4'), ('college', 'dhempe')])

In [22]:
x=dit.items()
dit["roll.no"]= 5

In [23]:
print(x)

dict_items([('name', 'Ciano'), ('class', 'tybsc'), ('roll.no', 5), ('college', 'dhempe')])

In [25]:
#4

dit.popitem()

('college', 'dhempe')

In [26]:
dit

{'name': 'Ciano', 'class': 'tybsc', 'roll.no': 5}

In [28]:
#5

dit.setdefault("class")

'tybsc'

In [29]:
#6

dit.update({"gender":"male"})

In [30]:
dit

{'name': 'Ciano', 'class': 'tybsc', 'roll.no': 5, 'gender': 'male'}

# Set

In [31]:
st={1,2,3,5,5,7,4,7,8,4,8,6,4,}

In [32]:
st

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
st1={1,2,9}

In [34]:
st2={5,4,7,3}

In [36]:
#1

st.difference(st2)

{1, 2, 6, 8}

In [37]:
#2

st1.isdisjoint(st)

False

In [38]:
st2.isdisjoint(st)

False

In [39]:
st1.isdisjoint(st2)

True

In [40]:
#3

st.issuperset(st2)

True

In [41]:
#4

st.symmetric_difference_update(st1)

In [42]:
st

{3, 4, 5, 6, 7, 8, 9}

In [44]:
#5

st.union(st1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Tuple

In [45]:
tup = (1,3,5,3,5,7,3,6,8,9,4,3,6,8,5,4,3,3,3,5,8,9,)

In [46]:
tup

(1, 3, 5, 3, 5, 7, 3, 6, 8, 9, 4, 3, 6, 8, 5, 4, 3, 3, 3, 5, 8, 9)

In [47]:
#1

tup.count(3)

7

In [48]:
#2

tup.index(7)

5

In [65]:
#3
x=tup.index(8)
tup.index(x,x+1)

13

# String

In [69]:
fruit="mango"
colour="yellow"
taste="sour-sweet"

In [70]:
type(fruit)

str

In [71]:
#1

fruit.center(50)

'                      mango                       '

In [73]:
#2

taste.endswith("r")

False

In [77]:
#3

colour.find("o")

4

In [78]:
#4

fruit.split()

['mango']

In [79]:
#5

colour.isnumeric()

False